
<div>
    <div *ngIf="searches && searches.length > 0; then displaySearch; else noSearch">
    </div>

    <ng-template #displaySearch>
    <div class="card p-1 m-4">
        <h4 class="mx-auto">Search History</h4>
        <div class="card p-2 m-2 bg-light text-dark" *ngFor="let search of searches">
            Search Text: {{search.searchText}} 
            <br>
            Created at: {{ search.timestamp  | date:'medium' }}
        </div>
    </div>
    </ng-template>

    <ng-template #noSearch>
            <div class="card p-1 m-4">
                    <h4 class="mx-auto">No Search History</h4>
            </div>
    </ng-template>

</div>

  